<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings><!-- Do only update the values within "", otherwise the service won't work anymore!-->
        <add key="serverIpAddress" value="192.168.1.1"/>
        <add key="serverPort" value="13000"/>
        <add key="autoLogonUser" value="your_user"/>
        <add key="autoLogonPassword" value="your_password"/>
        <add key="startPhrase" value="your_start_phrase"/>
    </appSettings>
</configuration>